.dirstamp
*.lo
*.la
.deps
.libs
html
*.swo
*.swp
test/test
test/logs
*.o
gh-pages
test/lcov
*.gcno
*.gcda
config.status
config.log
*~
# For now, the files generated autoreconf are *not* under version control
Makefile.in
README
aclocal.m4
autom4te.cache/
config/
configure
libtool
m4/
