*.gcda
*.gcno
*.gz
*.in
*.info
*.la
*.lo
*.o
*.o.*
*.pyc
*.status
*.swo
*.swp
*.tmp
*~
.!*
.deps
.dirstamp
.ipynb_checkpoints
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache
autom4te.cache/
benchmark/CMakeCache.txt
benchmark/CMakeFiles
benchmark/build
benchmark/build
config
config.log
config.status
config/
configure
coverage/
extern/
gh-pages/
html/
libsemigroups-config.hpp
libtool
m4/
test_*
tags
