.dirstamp
*.lo
*.la
.deps
.libs
html
*.swo
*.swp
*.o
gh-pages
*.gcno
*.gcda
config.status
config.log
*~
Makefile.in
README
aclocal.m4
autom4te.cache/
config/
m4/
Makefile
test.trs
*.status
configure
*.la
libtool
*.in
autom4te.cache
config
.!*
lstest
log
*.gz
.ipynb_checkpoints
libsemigroups-*-coverage*
*.pyc
benchmark/src/build
benchmark/logs
benchmark/CMakeFiles
benchmark/CMakeCache.txt
