Christopher Russell <cr66@st-andrews.ac.uk>
Finn Smith <fls3@st-andrews.ac.uk>
Finn Smith <finnishing@gmail.com>
Ilya Finkelshteyn <ilyaf@appveyor.com>
James D. Mitchell <james-d-mitchell@users.noreply.github.com>
James D. Mitchell <jdm3@st-and.ac.uk>
James D. Mitchell <jdm3@st-andrews.ac.uk>
Luke Elliott <le27@st-andrews.ac.uk>
Michael Torpey <mct25@st-andrews.ac.uk>
Nicolas M. Thiéry <nthiery@users.sf.net>
Wilf Wilson <wilf@wilf-wilson.net>
Alex Levine <aal20@st-andrews.ac.uk>
