Reinis Cirpons <rc234@st-andrews.ac.uk> Reinis Cirpons <43414125+reiniscirpons@users.noreply.github.com>
Reinis Cirpons <rc234@st-andrews.ac.uk> reiniscirpons <43414125+reiniscirpons@users.noreply.github.com>
Reinis Cirpons <rc234@st-andrews.ac.uk> reiniscirpons <rc234@st-andrews.ac.uk>
Joseph Edwards <jde1@st-andrews.ac.uk> Joseph Edwards <josephdavidedwards@gmail.com>
Joseph Edwards <jde1@st-andrews.ac.uk> Joe Edwards <80713360+Joseph-Edwards@users.noreply.github.com>
Luna Elliott <luna.elliott142857@gmail.com> Luke Elliott <le27@st-andrews.ac.uk>
Ilya Finkelshteyn <ilyaf@appveyor.com>
Florent Hivert <Florent.Hivert@lri.fr> Florent Hivert <hivert@users.noreply.github.com>
Alex Levine <aal20@st-andrews.ac.uk>
James Mitchell <jdm3@st-andrews.ac.uk> James D. Mitchell <james-d-mitchell@users.noreply.github.com>
James Mitchell <jdm3@st-andrews.ac.uk> James D. Mitchell <jdm3@st-and.ac.uk>
James Mitchell <jdm3@st-andrews.ac.uk> James Mitchell <james-d-mitchell@users.noreply.github.com>
James Mitchell <jdm3@st-andrews.ac.uk> James Mitchell <jdm3@st-and.ac.uk>
James Mitchell <jdm3@st-andrews.ac.uk> james-d-mitchell <james-d-mitchell@users.noreply.github.com>
Dima Pasechnik <dima@pasechnik.info> Dima Pasechnik <dimpase@gmail.com> 
Chris Russell <cr66@st-andrews.ac.uk> Christopher Russell <cr66@st-andrews.ac.uk>
Chris Russell <cr66@st-andrews.ac.uk> ChristopherRussell <cr66@st-andrews.ac.uk>
Finn Smith <fls3@st-andrews.ac.uk> Finlay Smith <fls3@st-andrews.ac.uk>
Finn Smith <fls3@st-andrews.ac.uk> Finn Smith <finnishing@gmail.com>
Finn Smith <fls3@st-andrews.ac.uk> flsmith <finnishing@gmail.com>
Finn Smith <fls3@st-andrews.ac.uk> flsmith <fls3@st-andrews.ac.uk>
Jake Swent <jws20@st-andrews.ac.uk> James Swent <94636565+jswent@users.noreply.github.com>
Nicolas Thiéry <nthiery@users.sf.net> Nicolas M. Thiéry <Nicolas.Thiery@u-psud.fr>
Nicolas Thiéry <nthiery@users.sf.net> Nicolas M. Thiéry <nthiery@users.sf.net>
Maria Tsalakou <mariatsalakou@users.noreply.github.com>
Murray Whyte <mw231@st-andrews.ac.uk> Murray Whyte <42549861+MTWhyte@users.noreply.github.com>
Wilf Wilson <wilf@wilf-wilson.net>
Michael Young <mct25@st-andrews.ac.uk> Michael Torpey <mct25@st-andrews.ac.uk>
