pr:
- master
- stable-*.*

trigger:
- master
- stable-*.*

variables:
  CCACHE_DIR: $(Pipeline.Workspace)/ccache
  CXXFLAGS: "-fdiagnostics-color"

pool:
  vmImage: 'ubuntu-latest'

jobs:
- job: GAP
  steps:
  - script: ci/launch-gap-docker-container.sh
    displayName: 'Running the Semigroups package for GAP tests in docker container. . .'

- job: quick
  steps:
  - bash: |
      sudo apt-get install -y ccache
      echo "##vso[task.prependpath]/usr/lib/ccache"
    displayName: "Install dependencies . . ."
  - task: Cache@2
    inputs:
      key: 'ccache | "$(Agent.OS)"'
      path: $(CCACHE_DIR)
    displayName: Restore cache . . .
  - bash: |
      mkdir -p m4 && ./autogen.sh && ./configure --disable-hpcombi --disable-popcnt --disable-clzll
    displayName: "Configure . . ."
  - bash: |
      ccache -z && make -j4 && ccache -s
    displayName: "Build libsemigroups . . ."
  - bash: |
      ccache -z && make test_all -j4 && ccache -s
    displayName: "Build test_all . . ."
  - bash: |
          ./test_all "[quick],[standard]"
    displayName: "Run the quick and standard tests . . ."

- job: config_options
  variables:
    PKG_CONFIG_PATH: "/usr/share/miniconda/lib/pkgconfig:/usr/share/miniconda/share/pkgconfig"
    LD_LIBRARY_PATH: "/usr/share/miniconda/lib"
  steps:
  - bash: echo "##vso[task.prependpath]$CONDA/bin"
    displayName: Add conda to PATH 
  - bash: |
         conda install -c conda-forge --yes mamba;
         mamba install -c conda-forge --yes fmt;
         mamba install -c conda-forge --yes eigen;
    displayName: "Install eigen3 and fmt using conda . . ."
  - bash: |
      sudo apt-get install -y ccache
      echo "##vso[task.prependpath]/usr/lib/ccache"
    displayName: "Install dependencies . . ."
  - task: Cache@2
    inputs:
      key: 'ccache | "$(Agent.OS)"'
      path: $(CCACHE_DIR)
    displayName: Restore cache . . .
  - bash: |
      ./autogen.sh 
    displayName: "Run ./autogen.sh . . ."
  - bash: |
      ./configure --with-external-fmt --enable-fmt
      ccache -z
      make test_all -j4 || exit 1
      ccache -s
      ./test_all "[quick]"
    displayName: "Test flag: --with-external-fmt --enable-fmt"
  - bash: |
      make clean
      ./configure --enable-fmt
      ccache -z
      make test_all -j4 || exit 1
      ccache -s
      ./test_all "[quick]"
    displayName: "Test flag: --enable-fmt"
  - bash: |
      make clean
      ./configure --with-external-eigen
      ccache -z
      make test_obvinf -j4 || exit 1
      make test_digraph -j4 || exit 1
      ccache -s
      ./test_obvinf "[quick]"
      ./test_digraph "[quick]"
    displayName: "Test flag: --with-external-eigen"
  - bash: |
      make clean
      ./configure --disable-eigen
      ccache -z
      make test_obvinf -j4 || exit 1
      make test_digraph -j4 || exit 1
      ccache -s
      ./test_obvinf "[quick]"
      ./test_digraph "[quick]"
    displayName: "Test flag: --disable-eigen"

- job: more_config_options
  steps:
  - bash: |
      sudo apt-get install -y ccache
      echo "##vso[task.prependpath]/usr/lib/ccache"
    displayName: "Install dependencies . . ."
  - task: Cache@2
    inputs:
      key: 'ccache | "$(Agent.OS)"'
      path: $(CCACHE_DIR)
    displayName: "Restore cache . . ."
  - bash: |
      ./autogen.sh 
    displayName: "Run ./autogen.sh . . ."
  - bash: |
      ./configure --enable-fmt --enable-stats
      ccache -z
      make test_todd_coxeter -j4 || exit 1
      ccache -s
      ./test_todd_coxeter "[123]"
    displayName: "Test flags: --enable-fmt --enable-stats"
  - bash: |
      make clean
      ./configure --enable-fmt --disable-stats
      ccache -z
      make test_todd_coxeter -j4 || exit 1
      ccache -s
      ./test_todd_coxeter "[123]"
    displayName: "Test flags: --enable-fmt --disable-stats"
  - bash: |
      make clean
      ./configure --disable-fmt --enable-stats
      ccache -z
      make test_todd_coxeter -j4 || exit 1
      ccache -s
      ./test_todd_coxeter "[123]"
    displayName: "Test flags: --disable-fmt --enable-stats"
  - bash: |
      make clean
      ./configure --disable-fmt --disable-stats
      ccache -z
      make test_todd_coxeter -j4 || exit 1
      ccache -s
      ./test_todd_coxeter "[123]"
    displayName: "Test flags: --disable-fmt --disable-stats"

- job: libsemigroups_pybind11
  variables:
    URL: "https://github.com/libsemigroups/libsemigroups_pybind11.git"
    LD_LIBRARY_PATH: "/usr/local/lib/"
  steps:
  - bash: |
      sudo apt-get install -y ccache
      echo "##vso[task.prependpath]/usr/lib/ccache"
    displayName: "Install dependencies . . ."
  - task: Cache@2
    inputs:
      key: 'ccache | "$(Agent.OS)"'
      path: $(CCACHE_DIR)
    displayName: "Restore cache . . ."
  - bash: |
      mkdir -p m4 && ./autogen.sh && ./configure --disable-hpcombi --disable-popcnt --disable-clzll
    displayName: "Configure . . ."
  - bash: |
      ccache -z && sudo make install -j4 && ccache -s
    displayName: "Build libsemigroups . . ."
  - bash: |
      VERSION=$(git ls-remote --tags "$URL" | grep -o 'refs/tags/v[0-9]*\.[0-9]*\.[0-9]*' | sort -r | head -n 1 | grep -o '[^\/]*$')
      git clone --depth 1 --branch "$VERSION" "$URL"
    displayName: "Clone libsemigroups_pybind11 . . ."
  - bash: |
      cd libsemigroups_pybind11
      sudo apt-get --yes update
      sudo apt-get install python3 --yes 
      sudo apt-get install python3-pip --yes 
      sudo -H pip3 install -r requirements.txt
    displayName: "Installing prerequisites for libsemigroups_pybind11 . . ."
  - bash: |
      cd libsemigroups_pybind11
      sudo -H pip3 install .
    displayName: "Building libsemigroups_pybind11 . . ."
  - bash: |
      cd libsemigroups_pybind11
      make check
    displayName: "Running libsemigroups_pybind11 tests . . ."


