#MSearchBox {
  width: var(--searchbar-width);
}

.tabs #MSearchBox {
  position: relative;
}

.github-corner svg {
  fill: var(--primary-light-color);
  color: var(--page-background-color);
  width: 72px;
  height: 72px;
}

/* Add headings to the navbar*/
#nav-tree [href="_HEADING_"],
#main-nav [href="_HEADING_"] {
  text-transform: uppercase;
  color: var(--primary-dark-color);
  font-weight: 600;
  pointer-events: none;
  cursor: default;
  text-decoration: none;
}
