name: Linting
on: pull_request

jobs:
  cpplint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: 3.13
      - run: pip install cpplint
      - run: bash etc/make-lint.sh
  codespell:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: codespell-project/actions-codespell@v2
