name: CI
on: [pull_request]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
   gcc:
      timeout-minutes: 60
      runs-on: ubuntu-latest
      env:
        CXX: "ccache g++"
        CXXFLAGS: "-fdiagnostics-color -O2 -g"
      steps:
         - uses: actions/checkout@v3
         - name: "Setup ccache . . ."
           uses: Chocobo1/setup-ccache-action@v1
           with:
             update_packager_index: false
             install_ccache: true
         - name: "Configure . . ."
           run: |
                mkdir -p m4
                ./autogen.sh 
                ./configure CXX="$CXX" CXXFLAGS="$CXXFLAGS" --disable-hpcombi
         - name: "Build libsemigroups . . ."
           run: make -j4
         - name: "Build test_all . . ."
           run: make test_all -j4
         - name: "Run the quick and standard tests . . ."
           run: ./test_all "[quick],[standard]"

   benchmark:
      timeout-minutes: 10
      runs-on: ubuntu-latest
      env:
        CXX: "ccache g++"
        CXXFLAGS: "-fdiagnostics-color"
      steps:
         - uses: actions/checkout@v3
         - name: "Setup ccache . . ."
           uses: Chocobo1/setup-ccache-action@v1
           with:
             update_packager_index: false
             install_ccache: true
         - name: "Configure . . ."
           run: |
                mkdir -p m4
                ./autogen.sh 
                ./configure CXX="$CXX" CXXFLAGS="$CXXFLAGS"
         - name: "Build libsemigroups . . ."
           run: make -j4
         - name: "Build bench_all . . ."
           run: |
                make bench_all -j4
   clang:
      timeout-minutes: 60
      runs-on: ubuntu-latest
      env:
        CXX: "ccache clang++"
        CXXFLAGS: "-fdiagnostics-color -O2 -g"
      steps:
         - uses: actions/checkout@v3
         - name: "Setup ccache . . ."
           uses: Chocobo1/setup-ccache-action@v1
           with:
             update_packager_index: false
             install_ccache: true
         - name: "Configure . . ."
           run: |
                mkdir -p m4
                ./autogen.sh
                ./configure CXX="$CXX" CXXFLAGS="$CXXFLAGS" --disable-hpcombi
         - name: "Build libsemigroups . . ."
           run: make -j4
         - name: "Build test_all . . ."
           run: make test_all -j4
         - name: "Run the quick and standard tests . . ."
           run: |
                ./test_all "[quick],[standard]"
   config-options:
      timeout-minutes: 45
      runs-on: ubuntu-latest
      env:
        CXX: "ccache g++"
        CXXFLAGS: "-fdiagnostics-color"
      steps:
         - uses: actions/checkout@v3
         - name: "Setup ccache . . ."
           uses: Chocobo1/setup-ccache-action@v1
           with:
             update_packager_index: false
             install_ccache: true
         - name: "Run ./autogen.sh . . ."
           run: |
                ./autogen.sh
         - name: "Test flag: --enable-debug"
           run: |
                ./configure CXX="$CXX" CXXFLAGS="$CXXFLAGS" --enable-debug
                make test_all -j4 || exit 1
                ./test_all "[quick]"
         - name: "Test flag: --disable-hpcombi"
           run: |
                ./configure CXX="$CXX" CXXFLAGS="$CXXFLAGS" --disable-hpcombi
                make test_all -j4 || exit 1
                ./test_all "[quick]"
         - name: "Test flag: --disable-popcnt --disable-clzll"
           run: |
                ./configure CXX="$CXX" CXXFLAGS="$CXXFLAGS" --disable-popcnt --disable-clzll
                make test_bitset -j4 || exit 1
                ./test_bitset "[quick]"
   config-external-deps:
      timeout-minutes: 45
      runs-on: ubuntu-latest
      env:
        CXX: "ccache g++"
        CXXFLAGS: "-fdiagnostics-color"
        PKG_CONFIG_PATH: "/home/runner/micromamba/envs/libsemigroups/lib/pkgconfig:/home/runner/micromamba/envs/libsemigroups/share/pkgconfig/"
        LD_LIBRARY_PATH: "/home/runner/micromamba/envs/libsemigroups/lib"
      steps:
        - uses: actions/checkout@v3
        - name: "Setup ccache . . ."
          uses: Chocobo1/setup-ccache-action@v1
          with:
            update_packager_index: false
            install_ccache: true
        - name: "Install conda environment from environment.yml . . ."
          uses: mamba-org/setup-micromamba@v1
          with: 
            environment-file: environment.yml
        - name: "Run ./autogen.sh . . ."
          run: ./autogen.sh
        - name: "Test flag: --with-external-fmt"
          run: |
            ./configure CXX="$CXX" CXXFLAGS="$CXXFLAGS" --with-external-fmt
            make test_all -j4 || exit 1
            ./test_all "[quick]"
        - name: "Test flag: --with-external-eigen"
          run: |
            make clean
            ./configure CXX="$CXX" CXXFLAGS="$CXXFLAGS" --with-external-eigen
            make test_obvinf -j4 || exit 1
            make test_word_graph -j4 || exit 1
            ./test_obvinf "[quick]"
            ./test_word_graph "[quick]"
        - name: "Test flag: --disable-eigen"
          run: |
            make clean
            ./configure CXX="$CXX" CXXFLAGS="$CXXFLAGS" --disable-eigen
            make test_obvinf -j4 || exit 1
            make test_word_graph -j4 || exit 1
            make test_cong -j4 || exit 1
            ./test_cong "[quick]"
            ./test_obvinf "[quick]"
            ./test_word_graph "[quick]"
   coverage:
      timeout-minutes: 60
      runs-on: ubuntu-latest
      env:
        CXX: "ccache g++"
        CXXFLAGS: "-fdiagnostics-color"
      steps:
         - uses: actions/checkout@v3
         - name: "Setup ccache . . ."
           uses: Chocobo1/setup-ccache-action@v1
           with:
             update_packager_index: false
             install_ccache: true
         - name: "Install dependencies . . ."
           run: |
                sudo apt-get --yes update
                sudo apt-get install -y lcov
         - name: "Run quick tests . . ."
           run: |
                sudo ln -sf /usr/bin/gcov-13 /usr/bin/gcov
                export GCOV=/usr/bin/gcov-13
                etc/test-code-coverage.sh test_all "[quick][exclude:no-valgrind][exclude:no-coverage]"
         - name: "Uploading to Codecov . . ."
           uses: codecov/codecov-action@v5
           with:
              fail_ci_if_error: true
              files: coverage.info
              token: ${{ secrets.CODECOV_TOKEN }}
              verbose: true
         - name: "Cleanup . . ."
           run: |
                rm -f coverage.info
   distcheck:
      timeout-minutes: 15
      runs-on: ubuntu-latest
      env:
         CXX: "ccache g++"
         CXXFLAGS: "-fdiagnostics-color"
      steps:
         - uses: actions/checkout@v3
         - name: "Setup ccache . . ."
           uses: Chocobo1/setup-ccache-action@v1
           with:
             update_packager_index: false
             install_ccache: true
         - name: "Configure . . ."
           run: |
            mkdir -p m4 
            ./autogen.sh 
            ./configure CXX="$CXX" CXXFLAGS="$CXXFLAGS"
         - name: "make distcheck . . ."
           run: make distcheck -j4
   doc:
      timeout-minutes: 10
      runs-on: ubuntu-latest
      steps:
         - uses: actions/checkout@v3
         - name: "Install dependencies . . ."
           run: |
                sudo apt-get --yes update
                sudo apt-get install graphviz --yes
         - name: "Set up Homebrew . . ."
           uses: Homebrew/actions/setup-homebrew@master
         - name: "Install latest doxygen . . ."
           run: |
                brew install gcc
                brew install doxygen
         - name: "Clone doxygen-awesome-css . . ."
           run: |
                git submodule update --init --recursive
         - name: "Configure . . ."
           run: |
                mkdir -p m4 && ./autogen.sh && ./configure
         - name: "Build documentation . . ."
           run: |
                echo "Doxygen version: "
                doxygen --version
                make doc
              # echo TODO(0) actually check that the doc can be built ok
              # ( ! (grep "WARNING:" make-doc-sphinx.log | grep -v "WARNING: bibtex citations changed, rerun sphinx" | grep -v "WARNING: Could not lex literal_block") )
   macosx:
      timeout-minutes: 60
      runs-on: macOS-latest
      env:
         CXX: "ccache clang++"
         CXXFLAGS: "-fdiagnostics-color"
      steps:
         - uses: actions/checkout@v3
         - name: "Setup ccache . . ."
           uses: Chocobo1/setup-ccache-action@v1
           with:
             update_packager_index: false
             install_ccache: true
         - name: "Install dependencies . . ."
           run: brew install autoconf automake libtool
         - name: "Clang version . . ."
           run: clang++ --version
         - name: "Configure . . ."
           run: |
                mkdir -p m4
                ./autogen.sh
                ./configure CXX="$CXX" CXXFLAGS="$CXXFLAGS" --disable-hpcombi --disable-backward
         - name: "Build libsemigroups . . ."
           run: make -j4 
         - name: "Build test_all . . ."
           run: make test_all -j4
         - name: "Run the quick tests . . ."
           run:  ./test_all "[quick]"
   sanitisers:
      timeout-minutes: 60
      runs-on: ubuntu-latest
      env:
        CXX: "ccache clang++"
      strategy:
        matrix:
          type: ["Thread", "Address", "UndefinedBehaviour"]
          include:
            - type: "Thread"
              cxx_flags: "-fdiagnostics-color -fsanitize=thread -fPIE -pie -fno-omit-frame-pointer -g -O2"
              ld_flags: "-fsanitize=thread"
            # - type: "Address"
            #   cxx_flags: ""
            #   ld_flags: ""
            # - type: "UndefinedBehaviour"
            #   cxx_flags: ""
            #   ld_flags: ""
      steps:
         - uses: actions/checkout@v3
         - name: "Setup ccache . . ."
           uses: Chocobo1/setup-ccache-action@v1
           with:
             update_packager_index: false
             install_ccache: true
         - name: "Set entropy . . ."
           run: sudo sysctl vm.mmap_rnd_bits=28
         - name: "Configure . . ."
           run: |
                mkdir -p m4 && ./autogen.sh
                ./configure CXX="$CXX" CXXFLAGS="${{ matrix.cxx_flags }}" LDFLAGS="${{ matrix.ld_flags }}"
         - name: "Build libsemigroups . . ."
           run: make -j4
         - name: "Build test_all . . ."
           run: make test_all -j4
         - name: "Run tests with {{ matrix.type }}Sanitizer . . ."
           run: ./test_all "[quick][standard]"
   valgrind:
      timeout-minutes: 60
      runs-on: ubuntu-latest
      env:
        CXX: "ccache g++"
        CXXFLAGS: "-fdiagnostics-color"
      steps:
         - uses: actions/checkout@v3
         - name: "Setup ccache . . ."
           uses: Chocobo1/setup-ccache-action@v1
           with:
             update_packager_index: false
             install_ccache: true
         - name: "Install dependencies . . ."
           run: |
                sudo apt-get --yes update
                sudo apt-get install -y expect libc6-dbg libtool-bin valgrind
         - name: "Configure . . ."
           run: |
                mkdir -p m4 && ./autogen.sh
                ./configure CXX="$CXX" CXXFLAGS="$CXXFLAGS" --enable-debug --disable-hpcombi
         - name: "Build libsemigroups . . ."
           run: make -j4
         - name: "Build test_all . . ."
           run: make test_all -j4 
         - name: "Run tests with valgrind . . ."
           run: |
                valgrind --version
                unbuffer libtool --mode=execute valgrind --leak-check=full ./test_all "[quick][exclude:no-valgrind]" 2>&1 | tee valgrind.log
                echo
                ( ! grep -i "Invalid" valgrind.log )
                ( ! grep -E "lost: [^0]" valgrind.log )
   test-x86-32:
      timeout-minutes: 60
      runs-on: ubuntu-latest
      env:
        GH_ACTIONS_ABI: "32"
        GH_ACTIONS_ARCH: "x86"
        GH_ACTIONS_TEST_PROG: "test_all"
        GH_ACTIONS_TEST_TAGS: "[quick][exclude:no-valgrind][exclude:no-coverage][exclude:BMat8]"
      steps:
         - uses: actions/checkout@v3
         - name: "Running the quick tests in libsemigroups-docker-x86-32-base docker container . . ."
           run: |
                ci/launch-docker-container.sh
